<!--
<div class="card1">

  <button (click)="ondetails()">Account details</button>

<br>



  <button (click)="onsummary()">Account summary</button>
  <br>

  <button (click)="ondeposit()">Self Deposite</button>
  <br>

  <button (click)="ontransaction()">Transfer Amount </button>
  <br>

  <button (click)="transaction()">View Transactios </button>

  <br>

  <button (click)="thirdparty()">Third Party Transactios </button>


</div> -->
<div class="body">
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container">



    <div class="card">

        <button (click)="ondetails()" class="btn btn-primary btn-custom" >Account details</button>

    </div>
    <br>
    <br>

      <div class="card">
        <button (click)="onsummary()" class="btn btn-primary btn-custom">Account summary</button>

    </div>
    <br>
    <br>
      <div class="card">
        <button (click)="ondeposit()" class="btn btn-primary btn-custom">Self Deposit</button>

    </div>
    <br>
    <br>
      <div class="card">
        <button (click)="ontransaction()" class="btn btn-primary btn-custom">Transfer Amount </button>

    </div>
    <br>
    <br>
      <div class="card">
        <button (click)="transaction()" class="btn btn-primary btn-custom">View Transactios </button>
    </div>

      <div class="card">
        <button (click)="pdfview()" class="btn btn-primary btn-custom">Generate Pdf </button>
    </div>

      <div class="card">
        <button (click)="thirdparty()" class="btn btn-primary btn-custom">Third Party Transactios </button>
    </div>
  </div>
</div>



