<!-- <div class="body">
<h1 style="text-align: center;">Welcome to STL Digital Banking</h1>
  <div class="container">
    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>
  </div>
</div> -->
<div class="body">
  <h1 style="text-align: center;">Welcome to STL Digital Banking</h1>
  <br>
  <br>
  <div class="container">
    <div class="card">

      <h2>Get a cashback of 5% on all online purchases with our credit card</h2>
      <p>Apply for our credit card today and enjoy a cashback of 5% on all your online purchases. With a low interest rate and no annual fees, our credit card is the perfect choice for all your online shopping needs.</p>

    </div>
    <div class="card">

      <h2>Save up to 50% on your first investment with us</h2>
      <p>Invest in our carefully selected portfolio of stocks, bonds, and mutual funds and save up to 50% on your first investment with us. With a range of investment options to choose from, you can build your portfolio the way you want.</p>

    </div>
    <div class="card">

      <h2>Get a free checking account with us</h2>
      <p>Open a checking account with us and get a range of benefits including free online banking, mobile banking, and bill pay. With no minimum balance requirements and no monthly fees, our checking account is the perfect choice for your everyday banking needs.</p>

    </div>
  </div>
</div>
